#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS_MAINT += -O0
else
	CFLAGS_MAINT += -O2
endif
ifneq (,$(findstring thumb,$(DEB_BUILD_OPTIONS)))
	CFLAGS_MAINT += -mthumb
endif

CFLAGS_MAINT  += -Wall -g -fPIC
LDFLAGS_MAINT += -Wl,--as-needed

export DEB_CFLAGS_MAINT_APPEND  = $(CFLAGS_MAINT)
export DEB_LDFLAGS_MAINT_APPEND = $(LDFLAGS_MAINT)

%:
	dh $@
